[user]
pinned=/usr/share/applications/google-chrome.desktop;/usr/share/applications/Alacritty.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/firefox-esr.desktop;/usr/share/applications/geany.desktop;
showWindowCount=true
showPreviews=true
noWindowsListIfSingle=true
middleButtonBehavior=1
indicatorStyle=1
inactiveIndicatorStyle=1
indicatorOrientation=1
indicatorColorFromTheme=true
forceIconSize=true
iconSize=16
